mat-grid-list{
    margin-left: -10px;
    margin-right: 20px;
    margin-bottom: 10px;
  }
 
  mat-grid-tile{
    margin-bottom: 20px;
  }
  mat-card{
    height: 100px;
    width: 200px;
    margin: 0 10px;
  }
  app-user-list{
 width: 100vw;
 position: relative;

  }