


form {
    padding: 5px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 5px;
}
.item-1{
    grid-column-start: 1;
    grid-column-end: 2;
    
}
.item-2{
    grid-column-start: 2;
    grid-column-end: 5;
}
.item-3{
    grid-column-start: 1;
    grid-column-end: 5;
}
.item-4{
    grid-column-start: 1;
    grid-column-end: 2;
}
.item-5{
    grid-column-start: 2;
    grid-column-end: 4;
}
.item-6{
    grid-column-start: 1;
    grid-column-end: 3;
}
.action{
    grid-column-start: 1;
    grid-column-end: 3;
}