
<section class="container">
<mat-grid-list cols="4" rowHeight="150px">
    <mat-grid-tile [colspan]="4" [rowspan]="1" >
    
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="2" >
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="2" >
  
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="2" >
     
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="3"  >
 
    </mat-grid-tile>
    <mat-divider></mat-divider>
    <mat-grid-tile [colspan]="4" [rowspan]="3" [style.background]="'tomato'">
      products
    </mat-grid-tile>
  </mat-grid-list>
</section>