<app-navbar></app-navbar>
<div class="container">


  <form action="" (ngSubmit) = "formSubmit()">
      <h1>Sign-In</h1>
        <p>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>User-name</mat-label>
            
            <input [(ngModel)] = "loginData.username" type="text"  matInput placeholder="" name="username" required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Enter a valid login</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input [(ngModel)] = "loginData.password" type="password" name="password" matInput placeholder="" required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            
          </mat-form-field>

          
        </p>
       
  
        <div class = "text-center">
          <button class="login" mat-raised-button >Login</button>
          <button class="clear" type="reset" style = "margin-left: 20px;" mat-raised-button color="accent">Clear</button>
          <a [routerLink]="'/sign-up'">create-account</a>
        
        </div>
        
  </form>
</div>

