mat-grid-list{
    margin: 2px 0px;
  }
  app-client-list{
    width: 100vw;
    
  }
  mat-grid-tile{
    margin-bottom: 20px;
  }
  mat-card{
    height: 100px;
    width: 200px;
    margin: 0 10px;
  }