<app-nav-user></app-nav-user>

<section class="container">
    <mat-grid-list cols="4" rowHeight="120px">
       
        <mat-grid-tile [colspan]="4" [rowspan]="2" [style.background]="'red'">
            <mat-card>
                <mat-card-content>Simple card</mat-card-content>
              </mat-card>
              <mat-card>
                <mat-card-content>Simple card</mat-card-content>
              </mat-card>
            <mat-slider min="0" max="100000" step="1000" showTickMarks discrete [displayWith]="formatLabel">
                <input matSliderThumb>
              </mat-slider>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="2" [style.background]="'yellow'">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="2" >
      
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="2" >
         
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="3"  [style.background]="'blue'">
     
        </mat-grid-tile>
        <mat-divider></mat-divider>
        <mat-grid-tile [colspan]="4" [rowspan]="3" [style.background]="'tomato'">
          products
        </mat-grid-tile>
      </mat-grid-list>
    </section>