.main-body {
    display: flex;
    margin-right: auto;
    max-width: 1348px;
    mat-form-field {
      width: 100%;
    }
  }
  .addclient {
    background: #4a7169;
  }
  
  .header {
    display: flex;
    align-items: center;
  }
  mat-card {
    margin: 20px;
  }
  
  table {
    width: 100%;
  }
  th {
    color: white;
    background: #3b3939;
  
    font-size: 16px;
  
    border-bottom: 2px solid #797171;
  }
  